table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
table tr{
    height: 30px;
}
table th{
    background: #c60001;
    color: white;
}
.odd{
    background:#ebebeb;
}
.even{
    background:#f1f1f1;
}

@media screen and (max-width:660px){
    .foot{
        margin-top: 180px;
    }
}