  .OwnTotal{
        width:1110px;
        min-height: 1440px;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
    }
    .OwnInfo{
        width: 870px;
        float: right;
        background: rgba(252,250,251,1) ;
    }
     .OwnFlow{
        width: 900px;
        height: 1400px;
     }
     .OwnFlow a{
        text-decoration: none;
        line-height: 30px;
     }
     .flowChart{
        width: 850px;  
     }
     .own1{
        width: 200px;
        height: 30px;
        margin: 0 auto;
        margin-top: -1335px;
    }
    .own1 div{
        width: 155px;
        height: 30px;
        background: #e1ffe4 ;
        text-align: center;
        float: left;
    }
    .own1 img{
        width: 45px;
        height: 30px;
    }
    .own1 a{
        color: #0b7b20;
    }
    .own2{
        width: 200px;
        float: left;
        margin-right: 90px;
        margin-left: 50px;
    }
    
    .finish{
        width: 200px;
        height: 30px;
        text-align: center;
        margin-top: 25px;
    }
    .finish div{
        width: 155px;
        float: left;
        background: #e1ffe4;
    }
    .finish a{
        color: #0b7b20;
    }
    .finish img{
        width: 45px;
        height: 30px;
    }
    .ready{
        width: 200px;
        height: 30px;
        text-align: center;
        margin-top: 25px;
    }
    .ready div{
        width: 155px;
        float: left;
        background: #d03333;
        height: 30px;
    }
    .ready a{
        color: #ffffff;
    }
    .ready img{
        width: 45px;
        height: 30px;
    }
     .own3{
        width: 200px;
        float: left;
        margin-right: 15px;
    }
    #special{
        margin-left: -70px ;
        margin-top: 50px;
    }
    #Tspecial{
        margin-left: 30px; 
        margin-top: 5px;
    }
    .own4{
        width: 200px;
        margin-top: 220px;
        margin-left: 250px;
    }   
    .own5{
        margin-top:30px;
    }
     .own5 div{
        width: 450px;
        height: 30px;
        text-align: center;
        margin-left: 200px;
        background: #f0f0f0;
        margin-top: 20px;
    }
    .own5 a{
        color: #797979;
    }
    .own6{
        height: 243px;
    }
    .own7 {
        width: 200px;
        height: 30px;
        float: left;
        background: #f0f0f0;
        text-align: center;
        margin-top: 120px;
        margin-left: 40px;
    }
    .own7 a{
        color: #797979;
    }
    .own8 {
        width: 23%;
        float: left;
        margin-left: 80px;
    }
    .own8 div{
        margin-top: 25px;
        background: #f0f0f0;
        text-align: center;
    }
    .own8 a{
        color: #797979;
    }
     .own9{
        width: 28%;
        float: right;
        margin-top: 100px;
        margin-right: 50px;
        height: 30px;
        background: #f0f0f0;
        text-align: center;
    }

    .own9 a{
        color: #797979;
    }
    #OwnEnough{
        margin-top: -10px;
    }
     @media screen and (max-width: 1120px){
        .OwnTitle{
            overflow-x: scroll;
        }
     }