.info div{
    height: 650px;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.info ul{
    margin: 0;
    padding: 0;
}
.info li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.info span{
    color: #c60001;
}
table{
    border-collapse: collapse;
    width: 85%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}
.button{
    background: #890c0c;
    width: 70px;
    height: 35px;
    border: none;
    color: white;
}
.table{
    text-align: center;
}